.well
  %h2= current_page_title
  %p
    You can use
    %code submit_grid_javascript(grid)
    and
    %code reset_grid_javascript(grid)
    to replace the default submit/replace icons of the grid.
  %p
    %code grid
    parameters
    %code hide_submit_button => true
    and
    %code :hide_reset_button => true
    hide the default icons.

.row-fluid
  .span12
    .external-buttons
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.wg-external-reset-button{'data-grid-name' => 'grid'} Reset


    = render :partial => 'grid'