<table><tr><td>
<%= grid(@versions_grid1, :show_filters => :always) do |g|

  g.column :name => 'ID', :attribute => 'id', :filter => false

  g.column :name => 'Project', :attribute => 'name', :model => 'Project' do |version|
    version.project.name if version.project
  end

  g.column :name => 'Version name', :attribute => 'name'

  g.column :name => 'Status', :attribute => 'status',
           :custom_filter => {'Development' => 'development', 'Testing' => 'testing', 'Production' => 'production'}
end -%>
</td><td>
  <%= grid(@versions_grid2, :show_filters => :always) do |g|

    g.column :name => 'ID', :attribute => 'id', :filter => false

    g.column :name => 'Project', :attribute => 'name', :model => 'Project' do |version|
      version.project.name if version.project
    end

    g.column :name => 'Version name', :attribute => 'name'

    g.column :name => 'Status', :attribute => 'status',
             :custom_filter => [['Development', 'development'], ['Testing', 'testing'], ['Production', 'production']]
  end -%>
</td></tr><tr><td>
  <%= grid(@versions_grid3, :show_filters => :always) do |g|

    g.column :name => 'ID', :attribute => 'id', :filter => false

    g.column :name => 'Project', :attribute => 'name', :model => 'Project' do |version|
      version.project.name if version.project
    end

    g.column :name => 'Version name', :attribute => 'name'

    g.column :name => 'Status', :attribute => 'status',
             :custom_filter => ['development', 'testing', 'production']
  end -%>
</td><td>
  <%= grid(@versions_grid4, :show_filters => :always) do |g|

    g.column :name => 'ID', :attribute => 'id', :filter => false

    g.column :name => 'Project', :attribute => 'name', :model => 'Project' do |version|
      version.project.name if version.project
    end

    g.column :name => 'Version name', :attribute => 'name'

    g.column :name => 'Status', :attribute => 'status', :custom_filter => :auto
  end -%>
</td></tr></table>