.well
  %h2= current_page_title
  %p
    Helper
    %code wice_grid_custom_filter_params
    simplifies generation of links with HTTP parameters understood by WiceGrid custom filter parameters.


.row-fluid
  .span4
    = render :partial => 'grid'
