[submodule "vendor/wice_grid"]
	path = vendor/wice_grid
	url = git://github.com/leikind/wice_grid.git
[submodule "vendor/kaminari"]
	path = vendor/kaminari
	url = https://github.com/leikind/kaminari.git
