.well
  %h2= current_page_title
  %p
    For
    %code DATE
    and
    %code DATETIME
    fields WiceGrid supports
    %ul
      %li
        %a{href:'http://jqueryui.com/demos/datepicker/'}jQuery Datepicker.
        Set
        %code helper_style: :calendar
      %li
        %a{href:'https://github.com/Nerian/bootstrap-datepicker-rails'}Bootstrap Datepicker.
        Set
        %code helper_style: :bootstrap
      %li
        standard Rails helper. Set
        %code  helper_style: :standard






= show_code

.row-fluid
  .col-md-12
    = render   'grid'