.well
  %h2= current_page_title
  %p
    Use
    %code :include
    in
    %code :initialize_grid
    to include associated tables.
  %p
    To define a column from a joined table, use
    %code :assoc
    to specify a the corresponding association.

= show_code

= render   'grid'
