.well
  %h2= current_page_title
  %p
    Read
    %code SAVED_QUERIES_HOWTO.rdoc
    for details.

.row-fluid
  .span6

    = saved_queries_panel(@tasks_grid, :confirm => false)

= render :partial => 'grid'
